# Em Python tudo é objeto

In [1]:
# Criando uma lista (objeto)
lst_num = ["Data", "Science", "Nota", 10, 10]

In [2]:
# A lista lst_num é um objeto, uma instancia da classe lista em Python
type(lst_num)

list

In [3]:
print(type([]))

<class 'list'>

In [5]:
lst_num.count(10)

2

In [6]:
# Usando a função type, para verificar o tipo de um objeto
print(type(10))
print(type([]))
print(type(()))
print(type({}))
print(type('a'))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [7]:
# Criando um novo tipo de objeto chamado Carro
class Carro(object):
    pass

In [8]:
# Instancia do Carro
corsa = Carro()

In [9]:
print(type(corsa))

<class '__main__.Carro'>

In [10]:
# Crinado uma Classe
class Estudantes:
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [13]:
# Criando um objeto chamado Estudante1 a partir da classe Estudantes
Estudante1 = Estudantes("Bianca", 20, 9.5)

In [14]:
# Atribuindo da classe Estudantes, utilizado por cada objeto criado a partir dessa classe
Estudante1.nome

'Bianca'

In [15]:
# Criando uma Classe 
class Funcionarios:
    
    def __init__(self, nome, salario, cargo):
        self.nome = nome
        self.salario = salario
        self.cargo = cargo
        
    def listFunc(self):
        print ("Funcionário(a) " + self.nome + " tem salário de R$" + str(self.salario) + " e o cargo é: " + self.cargo)

In [16]:
# Criando um objeto chamado Func1 a partir da classe Funcionarios
Func1 = Funcionarios("Maria", 2000, "Analista de dados")

In [17]:
# Usando o método da classe
Func1.listFunc()

Funcionário(a) Maria tem salário de R$2000 e o cargo é: Analista de dados

In [19]:
# Usando atributos
hasattr(Func1, "nome")

True

In [20]:
hasattr(Func1, "salario")

True

In [21]:
setattr(Func1, "salario", 4000)

In [22]:
hasattr(Func1, "salario")

True

In [23]:
getattr(Func1, "salario")

4000

In [24]:
delattr(Func1, "salario")

In [25]:
hasattr(Func1, "salario")

False