# SQL direto no Banco de Dados com Python

In [3]:
import sqlite3
import pandas as pd
# Conecta no banco de dados
con = sqlite3.connect('cap12_dsa.db')
# Abre um cursor para percorrer os dados no banco de dados
cursor = con.cursor()

A query abaixo retorna a média de unidades vendidas

In [4]:
# Cria uma instrução SQL para calcular a média de unidades vendidas
query2 = 'SELECT AVG(Unidades_Vendidas) FROM tb_vendas_dsa' # AVG = AGREGAÇÃO

In [5]:
# Executa a query no banco de dados
cursor.execute(query2)

In [6]:
# Visualiza o resultado
print(cursor.fetchall())

[(10.506,)]

A query abaixo retorna a média de unidades vendidas por produto

In [7]:
# Cria uma instrução SQL para calcular a média de unidades vendidas por produto
query3 = 'SELECT Nome_Produto, AVG(Unidades_Vendidas) FROM tb_vendas_dsa GROUP BY Nome_Produto'

In [8]:
# Executa a query 
cursor.execute(query3)

In [9]:
# Visualiza o resultado
cursor.fetchall()

[('Produto_1', 12.0),
 ('Produto_10', 9.5),
 ('Produto_11', 14.181818181818182),
 ('Produto_12', 8.846153846153847),
 ('Produto_13', 6.0),
 ('Produto_14', 9.166666666666666),
 ('Produto_15', 9.75),
 ('Produto_16', 8.25),
 ('Produto_17', 11.714285714285714),
 ('Produto_18', 13.083333333333334),
 ('Produto_19', 9.727272727272727),
 ('Produto_2', 9.25),
 ('Produto_20', 7.555555555555555),
 ('Produto_21', 10.285714285714286),
 ('Produto_22', 13.6875),
 ('Produto_23', 10.818181818181818),
 ('Produto_24', 12.272727272727273),
 ('Produto_25', 9.538461538461538),
 ('Produto_26', 9.363636363636363),
 ('Produto_27', 11.1),
 ('Produto_28', 9.0),
 ('Produto_29', 9.692307692307692),
 ('Produto_3', 8.909090909090908),
 ('Produto_30', 9.875),
 ('Produto_31', 7.9),
 ('Produto_32', 11.923076923076923),
 ('Produto_33', 12.285714285714286),
 ('Produto_34', 8.1),
 ('Produto_35', 9.0),
 ('Produto_36', 9.090909090909092),
 ('Produto_37', 11.0),
 ('Produto_38', 12.8),
 ('Produto_39', 12.666666666666666),
 ('Produto_4', 11.153846153846153),
 ('Produto_40', 7.25),
 ('Produto_41', 11.857142857142858),
 ('Produto_42', 10.272727272727273),
 ('Produto_43', 11.0),
 ('Produto_44', 7.2),
 ('Produto_45', 8.875),
 ('Produto_46', 12.142857142857142),
 ('Produto_47', 10.571428571428571),
 ('Produto_48', 14.0),
 ('Produto_49', 11.875),
 ('Produto_5', 10.2),
 ('Produto_50', 10.545454545454545),
 ('Produto_6', 12.0),
 ('Produto_7', 13.5625),
 ('Produto_8', 11.071428571428571),
 ('Produto_9', 7.2)]

A query abaixo retorna a média de unidades vendidas por produto se o valor unitário for maior do que 199

In [11]:
# Cria uma instrução SQL para calcular a média de unidades vendidas por produto, ,
# quando o valor unitário for maior que 199
query4 = """SELECT Nome_Produto, AVG(Unidades_Vendidas)
            FROM tb_vendas_dsa
            WHERE Valor_Unitario > 199
            GROUP BY Nome_Produto"""

In [12]:
# Executa a query 
cursor.execute(query4)

In [13]:
# Visualiza o resultado 
cursor.fetchall()

[('Produto_11', 1.0),
 ('Produto_15', 8.0),
 ('Produto_17', 14.0),
 ('Produto_20', 7.0),
 ('Produto_39', 16.0)]

A query abaixo retorna a média de unidades vendidas por produto se o valor unitário for maior do que 199 e somente se a média das unidades vendidas for maior que 10

In [14]:
# Está query está ERRADA, não podemos usar AVG na cláusula WHERE 
query5 = """SELECT Nome_Produto, AVG(Unidades_Vendidas)
            FROM tb_vendas_dsa
            WHERE Valor_Unitario > 199 and AVG(Unidades_Vendidas) > 10
            GROUP BY Nome_Produto"""

In [15]:
# Executa a query 
cursor.execute(query5)

OperationalError: misuse of aggregate: AVG()

In [16]:
# Query correta
query5 = """SELECT Nome_Produto, AVG(Unidades_Vendidas)
            FROM tb_vendas_dsa
            WHERE Valor_Unitario > 199
            Group by Nome_Produto
            HAVING AVG(Unidades_Vendidas) > 10"""

In [17]:
# Executa a query 
cursor.execute(query5)

In [18]:
# Visualiza o resultado 
cursor.fetchall()

[('Produto_17', 14.0), ('Produto_39', 16.0)]

In [19]:
# Fecha o cursor e encerra a conexão
cursor.close()